@import '../../assets/styles/variables.scss';

.gallery {
  @apply flex items-center overflow-x-auto flex-nowrap py-3;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  @apply relative transition-transform flex items-end shadow-lg rounded-layout overflow-hidden h-full w-full;
  flex: 1 1 auto;

  &:hover {
    transform: translateY(-5px);
  }

  &.vertical {
    @apply mr-4 last:mr-0 aspect-w-4;
    aspect-ratio: 4 / 6;
    width: 100%;
    height: auto;
    min-width: 100px;
    max-width: 200px;
  }

  &.horizontal {
    @apply mb-8 h-44 w-full;
    max-width: calc(50% - 16px);

    @media (max-width: 640px) {
      @apply w-full max-w-full;
    }
  }

  &.withText {
    @include fade-bg-gradient(0deg);
    &::before {
      @apply rounded-layout;
    }
  }

  img {
    @apply image-like-bg;
  }

  .content {
    @apply relative z-2 text-center m-3 w-full flex justify-end flex-col;

    .title {
      @apply font-semibold mb-1 text-white text-shadow flex-wrap;
    }

    .subTitle {
      @apply text-gray-500 text-shadow;
    }
  }
}
